body {
    background-color: rgba(42, 96, 243, 0.945);
}
/* Add margin for Navbar */
.App {
    margin-top: 60px;
}

/* Temp white color */
input {
    color: white !important;
}
h2 {  color: white !important;}
